{% for food in foods %}
    <div class='col'>
        <div class='card border-light h-100 w-100 text-center'>
            <img src="{{ food.image.url }}" class='card-img-top' style="height: 180px; width: 200px;" >
            <div class='card-body'>
                <h5
                    class='card-title text-center'>
                    {{ food.name }}
                </h5>
                <p class='card-text text-center'>
                    <span class='food-sale-price' >{{ food.sale_price|floatformat }} сом </span>
                </p>
            </div>
            <div class="card-footer dish-card-footer d-grid gap-2">
                <div class="btn-group">
                    <a href="/eda/card/add/{{ food.id }}?prev={{ request.path|urlencode }}" class="btn btn-light">
                        <img src="/static/images/ppp.png" width="32">
                    </a>
                    <a href="/eda/detail/{{food.id}}?prev={{ request.path|urlencode }}" class="btn btn-light">
                        Просмотр
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endfor %}